$error-color: #e25f6b;
$white: #fff;
$link-text-background: #247BA0;

.error {
  background-color: $error-color;
  color: $white;
}

.link-container {
  height: 100%;
  overflow: scroll;
}

.card-img-top {
  width: 20rem;
  height: 166px;
}

.card-header {
  background-color: $white;
  // color: $white;
}

.link-card {
  // width: 40rem;
  border-radius: 10px;
}