$error-color: #e25f6b;
$white: #fff;
$link-text-background: #247BA0;

.error {
  background-color: $error-color;
  color: $white;
}

.link-container {
  height: 100%;
  overflow: scroll;
}

.card-img-top {
  width: 318px;
  height: 166px;
}
.card-block{
  height: 250px;
  overflow-y: scroll;
}