//colors
$white: #fff;
$black: #000;
$color_gallery_approx: #ededed;
$color_celeste_approx: #ccc;
$color_emerald_approx: #66cc75;
$color_sky_blue_50_approx: rgba(109,207,246,.5);
$color_mountain_mist_approx: #999;
$green: #92BA3F;

//urls
$url_0: url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png);
#search-links {
	display: relative;
	width: 100%;
	input[type=search] {
        height: 35px;
		width: 150px;
	    padding: 9px 10px 9px 10px;
        font-family: inherit;
        font-size: 100%;
        border-color: transparent;                   
		color: black;
	}
	input:focus {outline:0;}
}

.container-fluid {
	height: 580px;
}
.badge-info{
	background: $green;
}
.nav-item{
	.dropdown{
		margin-right: 0;
	}
}