.app-footer {
  min-height: $footer-height;
  padding: 0 $spacer-x;
  line-height: $footer-height;
  color: $footer-color;
  background: $footer-bg;
  position: fixed;
    bottom: 0;
    width: 100%;
  @include borders($footer-borders);
}
