/**
 * Import base styles **only**
 */

/* base styles */
@import 'helpers/vars';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'overrides/buttons';

html, body {
  height: 100%;
  width: 100%;
}

::selection {
  background: $brand-primary;
  color: $white;
}

/**
 * Site typography
 * -----------------------------------------------------------------------------
 * A collection of all the typography styling for the site
 */

/* Headings
 * -------------------- */

h1,
h2,
h3 {
  color: $brand-primary-secondary;
  font-weight: 900;
}
