<!-- "https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=126735187141.129500575763" {Sign in} -->
<!-- "https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id=126735187141.129500575763"  {Add to Slack} -->


<header class="container-fluid">
  <div class="container">
    <div class="row navigation justify-content-between">
      <div class="col-12 col-sm-6 logo">
        <img src="assets/rinku2.svg" alt="Rinku logo"/>
      </div>
      <div class="col-12 col-sm-6 signin-logo">
        <a class="btn btn-outline-secondary" href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=126735187141.129500575763">
          <span class="slack-logo align-middle"></span> <span class="slack-txt">Sign in with Slack</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 tagline hidden-xs-down">
        <span></span> your links.
      </div>
      <div class="col-12 add_slack">
        <a class="btn btn-outline-secondary" href="https://rinku-bot.herokuapp.com/login">
          <span class="slack-logo align-middle"></span> <span class="slack-txt">Add to Slack</span>
        </a>
      </div>
    </div>
  </div>
  <div class="mascot">
  </div>
</header>
<div class="container body justify-content-center">
  <h1>How it works</h1>

  <ul class="works">
    <li>
      <span class="no">1</span>
      <span class="img"></span>
      <span class="works-txt">Add <strong>Rinku</strong> to your slack organisation.</span>
    </li>
    <li>
      <span class="no">2</span>
      <span class="img"></span>
      <span class="works-txt">Pick channels <strong>Rinku</strong> will collect links from.</span>
    </li>
    <li>
      <span class="no">3</span>
      <span class="img"></span>
      <span class="works-txt"><strong>Rinku</strong> will now collect and categorise your links.</span>
    </li>
    <li>
      <span class="no">4</span>
      <span class="img"></span>
      <span class="works-txt">Signin into the web client to access all your teams links.</span>
    </li>
  </ul>
</div>
<footer class="container">
</footer>